*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.icon{
    width: 150px;
    cursor: pointer;
    padding-top: 10px;
    transition: 0.1s;
}
.icon:hover{
    width: 153px;
}
.menu-logo{
    width: 30px;
    cursor: pointer;
    margin-left: 60px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
    position: relative;
}
nav ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #ee7f24;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.4s;
}
nav ul li:hover::after{
    width: 100%;
}
nav ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 17px;
    letter-spacing: 1px;
    transition: 0.4s;
}
nav ul li a:hover{
    font-size: 18px;
}

.navbar{
    margin-bottom: 40px;
}
.menu-logo:hover{
    width: 33px;
}

@media screen and (max-width: 1349px){
    .col2{
        display: flex;
        flex-wrap: wrap;
        height: 500px;
        margin-left: 100px;
    }
}
@media screen and (max-width: 1212px){
    .col2{
        display: none;
    }
    .row{
        display: inline-block;
    }
    .col1{
        margin-top: 140px;
    }
    
    h1{
        font-size: 55px;
        margin-left: 100px;
        margin-bottom: 20px;
    }
    
    button{
        margin-left: 100px;
    }
    nav ul{
        display: none;
    }
    .icon{
        width: 150px;
    }
    
}
@media screen and (max-width: 631px){
    .icon{
        width: 120px;
    }
    .row{
        display: flex;
    }
    .col1{
        margin-left: 60px;
        margin-bottom: 60px;
    }
}
@media screen and (max-width:520px){
    .col1{
        margin-left: 10px;
    }
}