*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.icon{
    margin-left: 100px;
    width: 150px;
    cursor: pointer;
    padding-top: 10px;
    transition: 0.1s;
}
.icon:hover{
    width: 153px;
}
.menu-logo{
    width: 30px;
    cursor: pointer;
    margin-left: 60px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
    position: relative;
}
nav ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #ee7f24;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.4s;
}
nav ul li:hover::after{
    width: 100%;
}
nav ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 17px;
    letter-spacing: 1px;
    transition: 0.4s;
}
nav ul li a:hover{
    font-size: 18px;
}

.navbar{
    margin-bottom: 40px;
}
.menu-logo:hover{
    width: 33px;
}