body {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0,0,0,0.6)),url(/Images/home.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-left: 8%;
}
#leaderboard {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#leaderboard-list {
    border-spacing: 0; 
}
#leaderboard-header {
    color: white;
}
th {
    padding: 30px;
    font-size: 25px;
    border: 1px solid rgba(0,0,0);
    background: rgb(247,201,9);
    background: linear-gradient(90deg, rgba(247,201,9,1) 36%, rgba(226,61,6,1) 100%);
}
td {
    background: white;
    font-weight: bold;
}
#name {
    width: 200px;
}
#score {
    width: 60px;
    font-weight: bold;
}
tbody>tr>:nth-child(1){
    color: rgb(255, 221, 26);
    font-size: 30px;
    font-weight: bolder;
}
tbody>:nth-child(2){
    color: rgb(192, 192, 192);
    font-size: 30px;
    font-weight: bolder;
}
tbody>:nth-child(3){
    color: rgb(205, 127, 50);
    font-size: 30px;
    font-weight: bolder;
}
#leaderboard-header {
    display: flex;
    align-items: center;
    justify-content: center;
    
}