body {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0,0,0,0.6)),url("https://hanielbyu.github.io/Assignment-2-ID--MengTeck/images/home.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-left: 8%;
}
nav ul{
    margin-right: 120px;
    margin-top: 5px;
}

.icon{
    margin-left: -5px;
    margin-top: 5px;
}

main .lead{
    margin-right: 100px;
}

#leaderboard {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#leaderboard-list {
    border-spacing: 0; 
}
#leaderboard-header {
    color: wheat;
    letter-spacing: 1.6px;
    font-size: 20px;
}
th {
    padding: 10px 90px;
    font-size: 25px;
    border: 1px solid rgba(0,0,0);
    background: rgb(185, 157, 106);
    background: linear-gradient(90deg, rgb(234, 219, 158) 36%,rgb(181, 169, 85)) 100%;
}
td {
    background: rgba(249, 249, 249, 0.878);
    font-weight: bold;
    font-size: 20px;
}
#name {
    width: 200px;
}
#score {
    width: 60px;
    font-weight: bold;
}
tbody>:nth-child(1){
    color: rgb(153, 132, 11);
    font-size: 30px;
    font-weight: bolder;
}
tbody>:nth-child(2){
    color: rgb(116, 116, 116);
    font-size: 30px;
    font-weight: bolder;
}
tbody>:nth-child(3){
    color: rgb(147, 97, 48);
    font-size: 30px;
    font-weight: bolder;
}
#leaderboard-header {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

@media screen and (max-width: 1210px){
    #leaderboard-header h1{
        font-size: 35px;
        margin-left: 0px;
        margin-bottom: -11px;
    }

    th{
        padding: 8px 60px;
    }
}

@media screen and (max-width: 770px){
    th{
        padding: 3px 30px;
    }
}

@media screen and (max-width: 450px){
    main .lead{
        margin-right: 30px;
    }
}