body {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0,0,0,0.6)),url(/Images/home.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-left: 8%;
}

.icon{
    margin-left: -90px;
}

.navbar nav ul{
    text-align: right;
}

h5 {
    font-weight: bold;
    color: yellow;
    text-decoration: underline;
}
#leaderboard {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 25vh auto 0 auto;
}
#leaderboard-list {
    border-spacing: 0; 
}

th, td {
    padding: 10px;
    border: 1px solid rgba(0,0,0);
    background: rgb(247,201,9);
    background: linear-gradient(90deg, rgba(247,201,9,1) 36%, rgba(226,61,6,1) 100%);
  }
#name {
    width: 200px;
}
#score {
    width: 60px;
}