* {
    
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0,0,0,0.6)),url(/images/home.jpg);
    background-position: center;
    background-size: cover;
    font-family: 'Lilita One', cursive;
    height: 100vh;
}
nav {
    background: transparent;
}
.icon {
    width: 100px;
    cursor: pointer;
    padding-top: 10px;
    transition: 0.1s;
}
.icon:hover {
    width: 103px;
}
.title {
    color: white;   
    font-size: 45px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}   
.checkbtn {
    color: white;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#form {
    width: 300px;
    height: 380px;
    background-color: white;
    border-radius: 10px;
    font-size: 12px;
    padding: 40px;
    margin: 8vh auto 0 auto;
}
/* modal css */
.successfulmsg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal {
    background-color: rgb(255, 255, 255);
    max-width: 100%;
    width: 130px;
    height: 120px;
    border-radius: 10px;
    padding: 20px 40px;
    text-align: center;
}
#close {
    width: 60px;
    height: 30px;
    border-radius: 35px;
    background: linear-gradient(to left,#ff9412,#EE5A24, #ffa812);
    background-size: 200%;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}
#close:hover {
    transition: 0.3s;
    background-position: right;
}
.animation {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* end */
h3 {
    text-align: center;
    font-size: 17px;
    margin-bottom: 10px;
}
.signup {
    display: flex;
    flex-direction: column;
}
.signup input {
    border-radius:8px ;
    display: block;
    font-size: 12px;
    padding: 12px;
    width: 90%;
}
.LogUp button{
    display: block;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right,#ff823e, #fb3f00, #ff6f21 );
    background-size: 200%;
    text-align: center;
    text-decoration: none;
    width: 300px;
    height: 35px;
    padding: 7px 70px;
    cursor: pointer;
    transition: 0.1s ;
}
.LogUp button:hover {
    background-position: right;
    padding: 8px 72px;
}
.errormsg {
    color: red;
}
.signup input:focus{
    outline: 0;
}
.signup.success input{
    border-color:  rgb(28, 226, 28);
}
.signup.error input {
    border-color: red;
}
.signup .error {
    color: red;
    font-size: 12px;
    height: 13px;
}
  
@media (max-width: 952px){
    .title {
        font-size:12px;
        padding-left: 15px;
    }
   
}
@media (max-width: 858px) {
    body {
        height: 100vh;
    }
    #form {
        width: 280px;
        margin: 10vh auto 0 auto;
        background-color: white;
        padding: 30px;
        border-radius: 10px;
        font-size: 12px;
    }
    #signup {
        padding: 10px;
        width: 200px;
        border: none;

        border-radius: 10px; 
    }
    
}
