* {
    
    text-decoration: none;
    list-style: none;
}
body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0,0,0,0.6)),url(/images/home.jpg);
    background-position: center;
    background-size: cover;
    font-family: 'Lilita One', cursive;
    height: 100vh;
}
nav {
    background: transparent;
}
.loading {
    display: none;
}
.icon {
    margin-left: 100px;
    width: 100px;
    cursor: pointer;
    padding-top: 10px;
    transition: 0.1s;
}
.icon:hover {
    width: 150px;
}
.title {
    color: white;
    font-size: 45px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}   
.checkbtn {
    color: white;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#form {
    width: 300px;
    height: 370px;
    background-color: white;
    border-radius: 10px;
    font-size: 12px;
    padding: 35px;
    margin: 8vh auto 0 auto;
}
h3 {
    text-align: center;
}
.signup {
    display: flex;
    flex-direction: column;
}
.signup input {
    border-radius:8px ;
    display: block;
    font-size: 12px;
    padding: 12px;
    width: 240px;
}
#submit {
    padding: 13px;
    margin-top: 5px;
    width: 265px;
    border: none;
    cursor: pointer;
    background-color: rgba(220, 132, 0, 0.997);
    color: white;
    border-radius: 10px;
}
#submit:hover {
    background-color: rgba(255, 182, 73, 0.997);
}
.signup input:focus{
    outline: 0;
}
.signup.success input{
    border-color:  rgb(28, 226, 28);
}
.signup.error input {
    border-color: red;
}
.signup .error {
    color: red;
    font-size: 12px;
    height: 13px;
}
.title {
    color: white;
    font-size: 45px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}   
.checkbtn {
    color: white;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}
#signup {
    color: palevioletred;
}
@media (max-width: 952px){
    .title {
        font-size:12px;
        padding-left: 15px;
    }
   
}
@media (max-width: 858px) {
    body {
        height: 100vh;
    }
    .checkbtn {
        display: block;
    }
    #check:checked ~ ul{
        left: 0;
    }
    #form {
        width: 280px;
        margin: 10vh auto 0 auto;
        background-color: white;
        padding: 30px;
        border-radius: 10px;
        font-size: 12px;
    }
    #submit {
        padding: 10px;
        margin-top: 10px;
        width: 35%;
        border: none;
        background-color: black;
        color: white;
        border-radius: 10px; 
    }
    
}
